/* Fonts variables */
$font-family-primary: ("Oswald", "Arial", sans-serif);
$font-family-secondary: ("Roboto", "Arial", sans-serif);

/* Colors variables */
/* Palette */
$white: #ffffff;
$green-grey:  #4e5042;
$green-balck: #1b201a;


/* Сolor entities */
$text-color: $white;
$background-color: $green-grey;
$button-bg-color: $green-balck;

/* Sizes */
$min-width: 320px;
$max-width: 820px;

$padding-x: 20px;

/* Others */
$transition-time: 0.3s;
