.button {
  @include reset-link;

  padding: 25px;


  color: $text-color;
  text-align: center;
  font-weight: 400;
  text-wrap: pretty;

  background-color: $button-bg-color;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    @include hover() {
      @include transition;

      opacity: 0.6;
    }
  }

  &:active {
    @include hover() {
      @include transition;

      opacity: 0.3;
    }
  }
}

.button__note {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
