.button {
  @include reset-link;

  padding: 25px;

  color: $text-color-dark;
  text-align: center;
  font-weight: 700;
  text-wrap: pretty;

  background-color: $button-bg-color;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    @include hover() {
      @include transition;

      background-color: $button-bg-color-hover;
    }
  }

  &:active {
    @include hover() {
      @include transition;

      background-color: $button-bg-color-active;
    }
  }
}

.button__note {
  font-weight: 400;
  opacity: 0.8;
}
