.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: $font-family-secondary;
  font-weight: 400;
  color: $text-color;

  background: $background-color url("../../images/bg-2.jpg") no-repeat top center / cover;
}
